[submodule "game-plain"]
	path = game-plain
	url = https://github.com/huangwb8/game-plain.git
[submodule "app-best-llm"]
	path = app-best-llm
	url = https://github.com/huangwb8/app-best-llm.git
[submodule "nsfc-demo/ChineseResearchLaTeX"]
	path = nsfc-demo/ChineseResearchLaTeX
	url = https://github.com/huangwb8/ChineseResearchLaTeX.git
